partial _address.erb.html

<p>

  <%= f.label :line1, 'Address 1' %><br />

  <%= f.text_field :line1 %>

</p>

 

<p>

  <%= f.label :line2, 'Address 2' %><br />

  <%= f.text_field :line2 %>

</p>

 

<p>

  <%= f.label :city %><br />

  <%#= f.text_field :city %>
  

</p>

 Find a City<%= f.autocomplete_field :city, autocomplete_city_name_address_path,:id_element => '#show_id_hidden' %>
 

<p>

 

 

</p>

 

<p>

  

</p>
