<p id="notice"><%= notice %></p>

 <div class="image">
      <%= image_tag @event.image.file_url(:thumb) if @event.image.file? %>
    </div>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Stall available:</b>
  <%= @event.stall_available %>
</p>

<p>
  <b>Stall reserve:</b>
  <%= @event.stall_reserve %>
</p>

<p>
  <b>Stall total:</b>
  <%= @event.stall_total %>
</p>

<p>
  <b>Exception:</b>
  <%= @event.exception %>
</p>

<% if can?  :update,@event  %>
  <%= link_to 'Edit', edit_room_event_path(@room,@event) %> |
<% end %>
<%= link_to 'Back', @room %>
