<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @film.name %>
</p>

<p>
  <b>Description:</b>
  <%= @film.description %>
</p>

<p>
  <b>Genre:</b>
  <%= @film.genre %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
