<h1>Listing events</h1>
<script>
  $(document).ready(function(){

  $("a[id^='is-ajax']").bind('ajax:success', function(evt, data, status, xhr){
    this2 = ($(this));
    replace_ID=this2.attr("update");
     
    $("#"+replace_ID).after(data);

  console.log(data);
});
  });
</script>
<table>
  <tr>
    <th>Serie  </th>
    <th>Name  </th>
    <th>Date</th>
    <th>Stall available</th>
    <th>Stall reserve</th>
    <th>Exception</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
link_to_remote
<% @events.each do |event| %>
  <tr id="serie-<%= event.serie_id%>">
    <td><%=  ( event.is_serie )?  "no": "yes" %></td>
    <td><%= event.name %></td>
    <td><%= event.date %></td>
    <td><%= event.stall_available %></td>
    <td><%= event.stall_reserve %></td>
    <td><%= event.exception %></td>
    <% if event.is_serie %>
     <td colspan="3"><%= link_to 'Show serie',show_event_serie_path(event.serie_id.to_i),:id => "is-ajax-#{event.serie_id}",:remote => true,:update => "serie-#{event.serie_id}"%></td>
           
       <%else%>
         <td><%= link_to 'Show',room_event_path(@room,event) %></td>
     <td><%= link_to 'Edit',edit_room_event_path(@room,event) %></td>
      <td><%= link_to 'destroy',room_event_path(@room,event),method: :delete, data: {confirm: "Are you sure?"} %></td>
     
         
    <% end %>
   </tr>
    <% end %>
</table>

<br />

