<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Description:</b>
  <%= @room.description %>
</p>

<p>
  <b>Repetition rule:</b>
  <%= @room.repetition_rule %>
</p>

<p>
  <b>Stall total:</b>
  <%= @room.stall_total %>
</p>
<div id="sessions">
  <%= render "list_events", :events => @events %>
  <p><%= link_to "Session", new_room_event_path( @room) %></p>
 
  
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', @theater %>
