<p id="notice"><%= notice %></p>

<p>
  
  <h2><%= link_to @theater.name, @theater%></h2>
   <h1><%= @room.name %></h1>
</p>

<p>
 
  <%= @room.description %>
</p>


<div id="sessions">
  <%= render "list_events", :events => @events %>
  <p><%= link_to "Session", new_room_event_path( @room) %></p>
 
  
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', @theater %>
