<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @show.name %>
</p>
<div class="image">
      <%= image_tag @show.image.file_url(:thumb) if @show.image.file? %>
    </div>
<p>
  <b>Description:</b>
  <%= @show.description %>
</p>

<p>
  <b>Content related:</b>
  <%= @show.content_related %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
