<%= form_for @theater, :html => {:multipart => true}  do |f| %>
  <% if @theater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theater.errors.count, "error") %> prohibited this theater from being saved:</h2>

      <ul>
      <% @theater.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
   <%= f.fields_for :image do |images| %>
      <%= render :partial => 'shared/image', :locals => {:f => images } %>
    <% end %>
  <%= f.fields_for :address do |address| %>
  
 
    <%= render :partial => 'shared/address', :locals => {:f => address }%>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
