<h1>Listing cinemas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cinemas.each do |cinema| %>
  <tr>
    <td><%= cinema.name %></td>
    <td><%= cinema.description %></td>
    <td><%= link_to 'Show', cinema %></td>
    <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
    <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cinema', new_cinema_path %>
