<!DOCTYPE html>
<html>
<head>
  <title>TicketRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
       <link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
         <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
  <script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.datepicker.js"></script>
 

  
  
</head>
<body>
  
  <header>
    
    <div id="nav">
      <div class="centered">
        <div id="logo">
        
        <%= image_tag("logo_tkk.png") %>
        </div>
        <%= render "shared/sign_in" %>
      </div>
    </div>
    
  </header>
  
  <article>
    <div class="centered">
      <%= yield %>
    </div>
  </article>
  

</body>
 
</html>
