<!DOCTYPE html>
<html>
<head>
  <title>TicketRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  
  
  
</head>
<body>
  

  <%= render "layouts/header" %>
  
  <article>
    <div class="centered">
      <%= yield %>
    </div>
  </article>
  <div class="clearfix"></div>
  <div id="footer">
  
  
  </div>
  

</body>
 
</html>
